<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>891646007678-kouesp0rdufgjtifcgvc3t6313bfkj82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891646007678-kouesp0rdufgjtifcgvc3t6313bfkj82</string>
	<key>API_KEY</key>
	<string>AIzaSyDy-ROQcdYEG8JNZv8MEeIrzl-rOnEH7pI</string>
	<key>GCM_SENDER_ID</key>
	<string>891646007678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Syamalla.mastermind</string>
	<key>PROJECT_ID</key>
	<string>mastermind-a6b22</string>
	<key>STORAGE_BUCKET</key>
	<string>mastermind-a6b22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891646007678:ios:785921e5d3500463</string>
	<key>DATABASE_URL</key>
	<string>https://mastermind-a6b22.firebaseio.com</string>
</dict>
</plist>